.site-header {
  @extend %padding-small;
  background: $brand-color;
  border-bottom: 1px solid $border-color;
  display: inline-block;
  float: left;
  width: 100%;

  a {
    color: $header-link-color;
  }

  .avatar {
    height: 2em;
    width: 2em;
    float: left;
    margin-top: -3px;
    border-radius: 0.2em;
    margin-right: 1em;
  }

  .site-title {
    float: left;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.5;
  }

  .site-nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      line-height: 1.5;
      float: left;
      text-align: right;
    }
    li {
      display: inline;
      float: left;
      margin-left: 0.4em;
      :hover {
        border-top: 3px solid $link-color;
      }
    }
    @media (max-width: 1100px) {
      ul {
        display: inline-block;
        float: left;
        padding-top: $padding-small;
        text-align: left;
        width: 100%;
      }
    }
  }

    /* --- Search form --- */
    form {
        border: 0;
        border-bottom: 2px solid $search-color;
        outline: 0;

        *:focus {
            outline: none;
        }

        input{
            &[type=text] {
                box-sizing: border-box;
                border: 0;
                outline: 0;
                color: $search-color;
            }

            &::-moz-placeholder {
                color: $search-color;
                opacity: 1;
            }

            &:-ms-input-placeholder, &::-webkit-input-placeholder {
                color: $search-color;
            }
        }

        button {
           border: none;
           font-size: 0.9em;
           background-color: $brand-color;
           color: $search-color;
        }
    }
}


.qlear-header {
  height: 4rem;
  line-height: 4rem;
  font-weight: 300;

  &.is-fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    transform: translateY(0px);
    background-color: rgb(255, 255, 255);
    transition: all 0.2s ease-in-out;
  }

  &.is-fixed.is-hidden {
    top: -4rem;
  }
}

.content {
  margin-top: 0;
  &.is-fixed {
    margin-top: 4rem;
  }
}

.header-container {
  width: 100%;
  max-width: calc(960px + 3rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  align-items: center;
  justify-content: space-between;
  display: flex;

  ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
  }
}

.header-desktop-menu {
  width: 70.83333333%;

  @media (max-width: 959px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (max-width: 768px) {
    display: none;
  }

  .menu-item {
    padding: 0 22px;
    display: inline-block;
    a {
      transition: color 0.5s ease;
      color: $text-grey-color;
      font-size: 16px;
      display: inline-block;
      height: 4rem;
      line-height: 4rem;
      border-top: 3px solid transparent;
      &:hover {
        color: $accent-color;
        border-top-color: $accent-color;
      }
    }

    @media (max-width: 959px) {
      padding: 0;
    }
  }

  .header-desktop-logo {
    padding-right: 22px;
    display: inline-block;
    position: relative;
    top: 2px;
    @media (max-width: 959px) {
      padding: 0;
      top: 0;
    }
  }
}

.header-logo--withName {
  width: 8.3125rem;
}


.header-right {
  align-items: center;
  justify-content: flex-end;
  display: flex;
  width: 20.83333333%;


  @media (max-width: 768px) {
    display: none;
  }
}

.header-tranlate {
  color: $accent-color;  
}

.header-signIn {
  color: $accent-color;
  border: 1px solid $accent-color;
  padding: 0 .9375rem;
  margin-left: 2.5rem;
  background: transparent;
  font-size: 1rem;
  font-family: Nunito;
  font-weight: 700;
  height: 32px;
  line-height: 32px;
  border-width: 1px;
  border-radius: 2px;
  outline: 0;
  // line-height: 1.5;
  display: inline-block;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
  // transition: all .3s cubic-bezier(.645,.045,.355,1);
  position: relative;
  text-transform: none;
  overflow: visible;
  &:hover {
    text-decoration: none;
    padding: 0 .875rem;
    border-width: 2px;
    line-height: 30px;    
  }
}

.header-mobile {
  width: 100%;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding-right: 3rem;
  box-sizing: content-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @media (min-width: 768px) {
    display: none;
  }
}

.header-mobileMenu {
  position: absolute;
  width: 100%;
  top: 4rem;
  left: 0;
  transition: all .5s ease;
  z-index: 110;
  padding: 1.5rem;
  padding-bottom: 0;
  transform: translateY(-100%);

  &.is-fixed.is-hidden {
    top: 0;
  }
  &.is-fixed {
    position: fixed;    
  }

  li {
    line-height: 1em;
    padding-bottom: 1.5rem;
  }

  a {
    font-size: 1rem;
    border-top: none;
    color: #fff;
  }
}

.header-whitelogo-wrappper {
  display: none;
}

.header-whitelogo {
  padding-top: 1.5rem;
  border-top: 1px solid #fff!important;
  img {
    width: 5rem;
  }

  &+a {
    margin-top: 1.5rem;
    font-size: 1.875rem;
    cursor: pointer;
  }
}

.header-menuIcon {
  height: 4rem;
  display: inline-flex;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
}

.header-colorLogo {
  display: flex;
  line-height: 1em;
  height: 4rem;
  padding-bottom: 0!important;
  justify-content: space-between;
  align-items: center;

  img {
    float: left;
    width: 5.125rem;
  }

  .header-tranlate {
    margin-right: 1.5rem;
    color: #707070;
  }

  i {
    font-size: 1.875rem;
    cursor: pointer;
    &:hover {
      color: $accent-color;
    }
  }
}

.header-mobileMenu.is-slide {
  padding-bottom: 1.5rem;
  transform: translateY(0);
  top: 0;
  background: #3388a9!important;

  .header-whitelogo-wrappper {
    display: flex;
    padding-bottom: 0;
    justify-content: space-between;
    align-items: center;
  }

  .header-colorLogo {
    display: none;
  }
}

.layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.layer.is-visiable {
  opacity: 1;
  background: hsla(0,0%,100%,.7);
  z-index: 100;
}


body {
  @media (max-width: 767px) {
    &.is-locked {
      overflow: hidden;
    }
  }
}
